In [1]:
# read a csv file and perform Probabilistic modeling

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB


df_br= pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data")

df_br.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

In [2]:
# naming each columns of the CSV file
df_br=df_br.rename(columns={'1000025':'PatientIdNumber', '5':'ClumpThickness', '1':'UniformityOfCellSize','1.1':'UniformityOfCellShape','1.2':'MarginalAdhesion','2': 'SingleEpithelialCellSize','1.3':'BareNuclei','3':'BlandChromatin','1.4':'NormalNucleoli','1.5':'Mitoses','2.1':'Class'})

df_br.head(10)

,PatientIdNumber,ClumpThickness,UniformityOfCellSize,UniformityOfCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4
5,1018099,1,1,1,1,2,10,3,1,1,2
6,1018561,2,1,2,1,2,1,3,1,1,2
7,1033078,2,1,1,1,2,1,1,1,5,2
8,1033078,4,2,1,1,2,1,2,1,1,2
9,1035283,1,1,1,1,1,1,3,1,1,2

In [3]:
# Perform Logistic regression, Naive Bayes or KNN on the BREAST Cancer data file
#df_br.head(10)

# ignore the first colum, i.e. Patient number
df_br.columns

df_br

,PatientIdNumber,ClumpThickness,UniformityOfCellSize,UniformityOfCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4
...,...,...,...,...,...,...,...,...,...,...,...
693,776715,3,1,1,1,3,2,1,1,1,2
694,841769,2,1,1,1,2,1,1,1,1,2
695,888820,5,10,10,3,7,3,8,10,2,4
696,897471,4,8,6,4,3,4,10,6,1,4
697,897471,4,8,8,5,4,5,10,4,1,4

In [4]:
# counting the total columns
columns=['ClumpThickness','UniformityOfCellSize','UniformityOfCellShape','MarginalAdhesion', 'SingleEpithelialCellSize',
       'BareNuclei', 'BlandChromatin', 'NormalNucleoli', 'Mitoses', 'Class']

# ignore the first column, which is PatientIdNumber


# convert column (k) to 1 and 0 using single column as X and "class" as Y

new_val= pd.get_dummies(df_br["Class"])

df_br
#df_br= df_br.append(new_val)

,PatientIdNumber,ClumpThickness,UniformityOfCellSize,UniformityOfCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4
...,...,...,...,...,...,...,...,...,...,...,...
693,776715,3,1,1,1,3,2,1,1,1,2
694,841769,2,1,1,1,2,1,1,1,1,2
695,888820,5,10,10,3,7,3,8,10,2,4
696,897471,4,8,6,4,3,4,10,6,1,4
697,897471,4,8,8,5,4,5,10,4,1,4

In [5]:
# add the new dummies columns on the original DF
df_br= pd.concat([df_br, new_val], axis="columns")


#df_br.head(10)
# NOW drop the old columns
df_br=df_br.drop(['PatientIdNumber'], axis=1)
df_br.head(10)

,ClumpThickness,UniformityOfCellSize,UniformityOfCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses,Class,2,4
0,5,4,4,5,7,10,3,2,1,2,1,0
1,3,1,1,1,2,2,3,1,1,2,1,0
2,6,8,8,1,3,4,3,7,1,2,1,0
3,4,1,1,3,2,1,3,1,1,2,1,0
4,8,10,10,8,7,10,9,7,1,4,0,1
5,1,1,1,1,2,10,3,1,1,2,1,0
6,2,1,2,1,2,1,3,1,1,2,1,0
7,2,1,1,1,2,1,1,1,5,2,1,0
8,4,2,1,1,2,1,2,1,1,2,1,0
9,1,1,1,1,1,1,3,1,1,2,1,0

In [6]:
df_br=df_br.drop(['Class'], axis=1)

In [7]:
# rename with X and y
df_br= df_br.rename(columns={'2':'X', '4':'Y'})
df_br.head(10)

,ClumpThickness,UniformityOfCellSize,UniformityOfCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses,2,4
0,5,4,4,5,7,10,3,2,1,1,0
1,3,1,1,1,2,2,3,1,1,1,0
2,6,8,8,1,3,4,3,7,1,1,0
3,4,1,1,3,2,1,3,1,1,1,0
4,8,10,10,8,7,10,9,7,1,0,1
5,1,1,1,1,2,10,3,1,1,1,0
6,2,1,2,1,2,1,3,1,1,1,0
7,2,1,1,1,2,1,1,1,5,1,0
8,4,2,1,1,2,1,2,1,1,1,0
9,1,1,1,1,1,1,3,1,1,1,0

In [8]:
df_br.head(10)

,ClumpThickness,UniformityOfCellSize,UniformityOfCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses,2,4
0,5,4,4,5,7,10,3,2,1,1,0
1,3,1,1,1,2,2,3,1,1,1,0
2,6,8,8,1,3,4,3,7,1,1,0
3,4,1,1,3,2,1,3,1,1,1,0
4,8,10,10,8,7,10,9,7,1,0,1
5,1,1,1,1,2,10,3,1,1,1,0
6,2,1,2,1,2,1,3,1,1,1,0
7,2,1,1,1,2,1,1,1,5,1,0
8,4,2,1,1,2,1,2,1,1,1,0
9,1,1,1,1,1,1,3,1,1,1,0

In [9]:
df_br=np.array(df_br)

plt.scatter(np.array(df_br['MarginalAdhesion']))

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices